html
  head
    title Eval Discord
    link(rel='stylesheet', href='/stylesheets/webeval.css')
    body
      | Discord js Web Eval: 
      br
      | CODE:
      form(action='/eval/exec', method='GET')
        textarea(name='code', cols='125', rows='25')
        br
        | Eval ID:
        input(type='text', name='evalid', readonly='', value=evalid, size="116")
        br
        |                Stealth:
        select#stealth
          option(value='false') false
          // option(value='true') true
        br
        input(type='submit', value='exec in ##{channel}')